@CHARSET "US-ASCII";

.container {
	position: relative;
	margin-bottom:5px;
}

.carousel {
	position:relative;
	margin-top:20px;
	height:500px;

}

.row {
	position: relative;
	margin-top:20px;
    margin-left:100px;
    margin-right:100px;
}

.chart {
	position: relative;
	margin-top:100px;
    margin-left:100px;
    margin-right:100px;
}

.center-pagination{
	margin-top: 10px;
}

.member1{
	margin-left:130px;
}

.member2{
}

.about-text{
	text-align: center;
	position: relative;
	margin-bottom: 50px;
}

.slide-image{
	width:1000px;
}

.slide-no-image{
	width:700px;
}

.div-image{
	width: 250px;
	height: 130px;
	overflow: hidden;
}

.div-title{
	width: 250px;
	height: 350px;
	overflow: hidden;
}

.footer {
	text-align: center;
	
}

.caption{
	text-align: center;
	margin-top: 100px;
}